
<div class="container mt-4 px-4">
    <div class="row gx-5">
      <div class="col text-start">
          <img src="cid:the_a_team_logo" alt="The A Team">
      </div>
    </div>
    <div class="row gx-5 text-center">
      <div class="col">
        <div class="p-3">
          <!-- Content here -->
          <div class="card mt-5 p-5" style="width: 100%">
            <div class="card-body">
              <h3 class="card-title">Follow up email</h3>
              <p class="card-text">
                I hope you're doing well! 
                <%=bodyData%>
                <hr />
                I just wanted to follow up and see if you're currently exploring any new products or solutions for your business.
                If there's anything specific you're looking for or if you'd like to learn more about what we offer, I'd be happy to help. Let me know if there's a good time for a quick chat or if you'd prefer some information via email.
                Looking forward to hearing from you!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>