
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-active > li {
    background-color: #e5f6fd !important;
}

.link-active > li p {
    color: #014361 !important;
}

.link-active > li svg {
    color: #014361 !important;
}